<!DOCTYPE html>
<html>
<body>


<img src="http://localhost:3000/assets/cinema1.jpg" alt="cinema1" style="width:200px;height:228px; ">
<img src="http://localhost:3000/assets/cinema2.jpg" alt="cinema1" style="width:200px;height:228px; ">
<img src="http://localhost:3000/assets/cinema3.jpg" alt="cinema1" style="width:200px;height:228px; ">
<img src="http://localhost:3000/assets/cinema4.jpg" alt="cinema1" style="width:200px;height:228px; ">
<img src="http://localhost:3000/assets/cinema5.jpg" alt="cinema1" style="width:200px;height:228px; ">
<img src="http://localhost:3000/assets/cinema6.jpg" alt="cinema1" style="width:200px;height:228px; ">


</br>


<h1>Welcome to King City Cinema</h1>

</body>
</html>